<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo, press enter to save..."
        autofocus
        type="text"
        [formControl]="newTask"
        (keydown.enter)="addTask()"
      />
      <div *ngIf="isAdding" class="errors">
        <p *ngIf="newTask.hasError('required')">
          No se puede guardar una Tarea vacía
        </p>
      </div>
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section *ngIf="tasks.length > 0" class="main">
      <ul class="todo-list">
        <li
          *ngFor="let tks of tasks"
          id="{{ tks.id }}"
          [ngClass]="{
            'completed': tks.completed,
            'editing': tks.isEditting === 'true'
          }"
        >
          <div class="view">
            <input
              *ngIf="tks.completed"
              checked
              class="toggle"
              type="checkbox"
              [disabled] = "tks.isEditting === 'disabled'"
              (click)="changeState(tks.id)"
            />
            <input
              *ngIf="!tks.completed"
              class="toggle"
              type="checkbox"
              [disabled] = "tks.isEditting === 'disabled'"
              (click)="changeState(tks.id)"
            />
            <label (dblclick)="changeToEdit(tks.id)">{{
              tks.title
            }}</label>
            <button (click)="onDestroy(tks.id)" class="destroy"></button>
          </div>
          <input
            *ngIf="tks.isEditting ==='true' "
            (keydown.escape)="onExitEdit()"
            (keydown.enter)="onEditTask(tks.id)"
            [formControl]="editTask"
            class="edit"
            id="editInput"
          />
        </li>
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer *ngIf="tasks.length > 0" class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{countPend}}</strong> {{ countPend | i18nPlural: itemPluralMapping }} left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button *ngIf="countCompleted > 0" class="clear-completed" (click)="clearCompleted()">Clear completed</button>
    </footer>
  </div>
</section>
